.hero {
    @include flexLayout;
   
    &-logo{
        font-size: 60px;
        color: $color-white;
        text-decoration: none;
        width: 110px;
        height: 100px;
        border: 3px solid $color-white;
        border-radius:  50%;
        -webkit-border-radius:  50%;
        -moz-border-radius:  50%;
        -ms-border-radius:  50%;
        -o-border-radius:  50%;
        align-items: center;
        margin: 10px 0;

        @media(max-width:600px){
            font-size: 30px;
            width: 50px;
            height: 50px;
            border: 2px solid $color-white;
        }
    }
    span {
        color: $color-sky;
    }
    i {
        line-height: 1.5;
    }

   .main-name {
        font-size: 42px;
        font-family: $font-josefinSans;
        color: $color-white;
        @include textStyles;

        @media(max-width:600px){
            font-size: 35px;
        }

        @media(max-width:500px){
            font-size: 25px;
        }
    }
    .sub-name {
        margin-top: 20px;
        font-size: 30px;
        font-family: $font-josefinSans;
        color: $color-black;
        @include textStyles;

        @media(max-width:1000px){
            font-size: 20px;
        }

        @media(max-width:500px){
            font-size: 14px;
        }
    }
   
    #hero-video-btn {
        font-size: 8px;
        background-color: transparent;
        border: none;
        outline: none;

        &:hover {
            color: $color-orange;
        }

        @media(max-width: 520px){
            visibility: hidden;
        }
    }
}

.navbar-navigation > ul > li{
    text-decoration: none;
}

.buttonColumn{
    @include flexLayout;
    width: 100%;

    @media(max-width: 900px){
        flex-direction: column;
    }
}

.button {
    @include mainBtn(50%);
    position: relative;

    @media(max-width: 1200px){
        font-size: 9px;
    }
    @media(max-width: 1100px){
        @include mainBtn(50%, 30px);
        font-size: 9px;
    }

    @media(max-width: 900px){
        @include mainBtn(80%, 30px);
        font-size: 9px;
    }

    @media(max-width: 680px){
        @include mainBtn(60%, 36px);
        padding:5px;
        margin-bottom: 8px;
        font-size: 9px;
    }

    @media(max-width: 500px){
        @include mainBtn(50%, 30px);
        font-size: 8px;
     }
 
    
    &:hover {
        color: yellow;
        text-decoration: none;
        letter-spacing: 2.2px;
      }
  }

  /*==============================================
                     NAVIGATION
================================================*/


.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.top-nav {
    background: rgba(0,0,0,0.7);
    padding: 7px 0;

    a {
        color: $color-sky;
    }
}



.navbar-brand, .navbar-nav >li >a {
    color: $color-white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-brand:hover ,.navbar-nav >li >a:hover {
    color: $color-sky;
}

//Scroll spy effect
.navbar-nav >li >a.active{
    color: $color-sky;
}

.custom-toggler.navbar-toggler {
    border-color: $color-white;
    outline: none;

    &:hover{
    border: 1.3px solid $color-white;
    }

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(75,137,203, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
