.hero {
    @include flexLayout;
   
    &-logo{
        font-size: 60px;
        color: $color-white;
        text-decoration: none;
        width: 110px;
        height: 100px;
        border: 3px solid $color-white;
        border-radius:  50%;
        -webkit-border-radius:  50%;
        -moz-border-radius:  50%;
        -ms-border-radius:  50%;
        -o-border-radius:  50%;
        align-items: center;
        margin: 10px 0;

        @media(max-width:600px){
            font-size: 30px;
            width: 50px;
            height: 50px;
            border: 2px solid $color-white;
        }
    }
    span {
        color: $color-sky;
    }
    i {
        line-height: 1.5;
    }

   .main-name {
        font-size: 42px;
        font-family: $font-josefinSans;
        color: $color-white;
        @include textStyles;

        @media(max-width:600px){
            font-size: 35px;
        }

        @media(max-width:500px){
            font-size: 25px;
        }
    }
    .sub-name {
        margin-top: 20px;
        font-size: 30px;
        font-family: $font-josefinSans;
        color: $color-black;
        @include textStyles;

        @media(max-width:1000px){
            font-size: 20px;
        }

        @media(max-width:500px){
            font-size: 14px;
        }
    }
   
    #hero-video-btn {
        font-size: 8px;
        background-color: transparent;
        border: none;
        outline: none;

        &:hover {
            color: $color-orange;
        }

        @media(max-width: 520px){
            visibility: hidden;
        }
    }
}

.navbar-navigation > ul > li{
    text-decoration: none;
}

.buttonColumn{
    @include flexLayout;
    width: 100%;

    @media(max-width: 900px){
        flex-direction: column;
    }

    @media(max-width: 680px){
        // flex-direction: row;
    }
}

.button {
    @include mainBtn(50%);
    position: relative;

    @media(max-width: 1200px){
        font-size: 9px;
    }
    @media(max-width: 1100px){
        @include mainBtn(50%, 30px);
        font-size: 9px;
    }

    @media(max-width: 900px){
        @include mainBtn(80%, 30px);
        font-size: 9px;
    }

    @media(max-width: 680px){
        @include mainBtn(60%, 36px);
        margin-bottom: 8px;
        font-size: 9px;
    }

    @media(max-width: 500px){
        @include mainBtn(50%, 30px);
        font-size: 8px;
     }
 
    
    &:hover {
        color: pink;
        text-decoration: none;
        background-color: #262626;
      }
  }

  /*==============================================
                     NAVIGATION
================================================*/
