//===========================================
//               Home Section
//===========================================

#home {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap :wrap;
    overflow: hidden;

    #hero-video{
        opacity: 0.8;
        position: absolute;
        width:100%;
        height: 100vh;
        object-fit: cover;
    }

    .hero {
        flex-direction: column;
        display: flex;
        flex-basis:100%;
        @include centering(50%);
        align-items: center;
        text-align: center;
    }
}

//===========================================
//               About Section
//===========================================

.about-wrapper{
    margin: 140px 0;

    @media(max-width:1200px){
        margin: 90px 0;
    }
}

.about-header {

    &-wrapper{
        @include flexLayout;
        font-size: 42px;
        margin-bottom: 70px;
        font-weight:700;
        color:#45474A;
        text-transform: uppercase;
    }
}

.flexColResponse{
    @include flexLayout;
    width: 50%;
    height: 30vh;
    // border: 2px solid green;

    @media(max-width: 1400px){
        height:30vh;
       
    }

    @media(max-width: 960px){
        flex-direction: column;
        height: 50vh;
    }
}

.about-logo-wrapper{
    @include flexLayout;
    margin: 80px 280px;
    color:#616161;
    flex-wrap: wrap;
    // border: 2px solid black;
    
    @media(max-width: 1550px){
        margin: 70px 150px;
    }
    @media(max-width: 1420px){
        margin: 70px 150px;
    }
    @media(max-width: 1280px){
        margin: 70px 150px;
    }
    @media(max-width: 980px){
        margin: 70px 70px;
    }
    @media(max-width: 575px){
        margin: 70px 0px;
    }


    .about-logo-item{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin:0 5px;
        // border: 2px solid pink;
    
        @media(max-width: 960px){
            width: 100%;
            height:25vh;
        }

        @media(max-width: 780px){
            width: 100%;
            height:25vh;
        }

        @media(max-width: 575px){
            width: 100%;
            height:30vh;
            margin: 0;
        }
        
        .about-logo {
            font-size:40px;
            text-align: center;
            margin-bottom: 10px;
           
            i {
                // border: 4px solid $color-sky;
                background-color: $color-sky;
                color: $color-white;
                border-radius:  50%;
                width: 100px;
                height: 100px;
                line-height: 2.5;
            }
        }

        .about-logo-detail{
            text-align: center;
            // border:2px solid blue;
            width: 100%;
            height: 100%;

            @media(max-width: 575px){
                width: 100%;
                margin: 0;
                height: 25vh;
            }
            
            .label{
                font-size: 24px;
                font-weight: 700;
                font-family:$font-roboto; 
            }

            .detail{
                @media(max-width: 960px){
                    font-size: 12px;
                }

                @media(max-width: 520px){
                    padding: 0 12px;
                }

                
            }
        }
        
    }
}

//images
.about-skills{
    @include flexLayout;
    margin: 10px 220px;

    @media(max-width: 1520px){
        width:80%;
        margin: 10px auto;
    }

    @media(max-width: 960px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width:80%;
    }

    &-left{
        width:50%;
        text-align: center;
        padding: 30px 0;
        
        @media(max-width: 960px){
            width:100%;
        }     

        img.profile-img{
            object-fit: cover;
            border-radius: 50%;
            width: 300px;
            height: 300px;

            @media(max-width: 960px){
                width: 200px;
                height: 200px;
            }
        }

        .profile-header {
            font-size: 30px;
            width: 100%;
            margin-top:20px;
        }

        .profile-detail{
            width: 100%;
            margin-top:10px;

            @media(max-width: 960px){
                font-size: 15px;
            }
        }
    }

    &-right{
        width:50%;
        height:100%;

        @media(max-width: 960px){
            width: 100%;
        }

        .skill{
            @include flexLayout;
            margin-bottom: 20px;
        }

        .skill-title{
            width: 140px;
            height: 30px;
            background-color: $color-sky;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.9;
            font-family: $font-roboto;
            font-weight: 700;
            color:$color-white;
        }

        .progress{
            height: 30px;
            width:100%;
            /* remove bar radius */
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            background-color: #efefef;
            overflow:visible;
            // border: 1px solid red;
            position:relative;

            .progress-bar{
                background-color: #92b2d3;
            }
            .progress-bar span{
                font-size:15px;
                font-weight:300;
                font-family:"Open Sans", sans-serif;
                padding:3px;
                color: #7C7C7C;
                /* Relative to .progressbar and overflow visible in .progress */
                position: absolute;
                left: 92%;

                @media(max-width: 1300px){
                    left: 94%;
                }
                // @media(max-width: 950px){
                //     left: 94%;
                @media(max-width: 830px){
                    left: 92%;
                }
                @media(max-width: 560px){
                    left: 88%;
                }
               
            }
            
        }
       
    }
}

//===========================================
//               Portfolio Section
//===========================================
#portfolio {
    background-color: #F5F5F5;
    @include flexColLayout;
    flex-wrap:wrap;
    padding: 100px auto;

    .portfolio-header{
        text-align: center;
        font-size: 42px;
        padding: 50px 0;
        font-weight:700;
        color:#45474A;
        text-transform: uppercase;
    }

    .portfolio-wrapper-center:last-child {
        margin-bottom: 80px;
    }

    .portfolio-wrapper-center{
        @include  flexLayout;
        width:60vw;
        height:25vw;
        display: flex;
        background: $color-sky;
        margin: 20px auto;

        @media(max-width: 900px){
            width:80vw;
        }
        @media(max-width: 680px){
            width:80vw;
            height: 100%;
            flex-direction: column;
        }

      .portfolio-img-left {
          width: 50%;
          height: 100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        padding: 0;
        // border: 2px solid green;

        @media(max-width: 680px){
            width:100%;
            height:50%;
        }


          .img-response {
              object-fit: cover;
              @extend %fullSpace;
            //   border: 2px solid blue;

            @media(max-width: 680px){
                object-fit: cover;
            }
          }
      }
      .portfolio-right {
        width: 50%;
        height: 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        position: relative;

        @media(max-width: 680px){
            width:100%; 
            height:50%;
        }


        &-heading {
            width: 100%;
            font-family: $font-josefinSans;
            position: absolte;
            text-align: center;
            padding-top: 10px;
            color: $color-white;

            @media(max-width: 680px){
               @include flexLayout;
               position: relative; 
            }

            .logo{
                color: $color-white;
                font-size: 30px;
                padding-bottom: 10px;

                @media(max-width: 680px){
                   margin-right: 50px;
                   margin-left:0;
                   position: absolute;
                   left: 5%;
                   font-size: 36px;
                 }

                 @media(max-width: 500px){
                    display: none;
                 }
            }

            h3{
                font-size: 35px;

                @media(max-width: 1500px){
                    font-size: 30px;
                }

                @media(max-width: 1250px){
                    font-size: 25px;
                }

                @media(max-width: 1000px){
                    font-size: 20px;
                }
                @media(max-width: 900px){
                    margin-top:15px;
                }
                @media(max-width: 680px){
                   font-size: 22px; 
                 }

                 @media(max-width: 615px){
                    font-size: 18px; 
                  }
            }
        }

        &-detail {
            width: 100%;
            margin: 5px;
            padding: 5px;
            height: 50%;
            border: 1px solid $color-white;
            color: $color-white;
            font-size: 16px;

            @media(max-width: 1500px){
                font-size: 15px;
                height: 40%;
            }
            @media(max-width: 1350px){
                font-size: 12px;
                height: 40%;
            }
            @media(max-width: 1250px){
                font-size: 10px;
                height: 30%;
            }
            @media(max-width: 1075px){
                font-size: 8px;
                height: 30%;
            }
            @media(max-width: 900px){
                display: none;
            }

        }
    }
    }
}

//===========================================
//               Footer
//===========================================
.footer {
    padding: 70px;
    background-color: $color-sky;
    @include flexLayout;

    &-copyright-paragraph {
        color: $color-white;
    }

    span {
        color:$color-orange;
    }
}