#home {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap :wrap;
    overflow: hidden;
    

    #hero-video{
        opacity: 0.8;
        position: absolute;
        width:100%;
        height: 100vh;
        object-fit: cover;
    }

    .hero {
        flex-direction: column;
        display: flex;
        flex-basis:100%;
        @include centering(50%);
        align-items: center;
        text-align: center;
    }
}

nav {
    width:100%;
    height: 50px;
    // position: absolute;
    // z-index: 200;
    // font-size: 20px;
    // top: 100;
    // background-color: rgba(75,137,203,0.5);

    
}


// .navbar-navigation {
//     display:flex;
//     flex-flow: row wrap;
//     z-index: 200;
//     border: 3px solid red;
//     padding: 0;
//     flex-basis: 90%;
//     flex-wrap: wrap;
//     justify-content: space-around;

//     &-left {
//         display:flex;
//         flex-direction: row;
//     }
//     &-right {
//         display:flex;
//         flex-direction: row;
//     }
// }
.about-wrapper{
    margin: 140px 0;
}

.about-header {
    // @include flexLayout;

    &-wrapper{
        @include flexLayout;
        font-size: 42px;
        margin-bottom: 70px;
        font-weight:700;
        color:#45474A;
    }
}

.about-logo-wrapper{
    @include flexLayout;
    margin: 20px 220px;
    color:#616161;

    .about-logo-item{
        // @include flexLayout;
        width: 25%;
        height: 30vh;
        margin: 0 30px;
        // border:2px solid red;


        .about-logo-detail{
            text-align: center;
            // border:2px solid blue;

            .label{
                font-size:24px;
                font-weight: 700;
                font-family:$font-roboto; 
            }
        }
        .about-logo {
            font-size:40px;
            text-align: center;
            margin-bottom: 10px;
           
            i {
                // border: 4px solid $color-sky;
                background-color: $color-sky;
                color: $color-white;
                border-radius:  50%;
                width: 110px;
                height: 100px;
                line-height: 2.5;
            }
        }
    }
}

.about-skills{
    @include flexLayout;
    margin: 100px 220px;

    &-left{
        display: flex;
        flex-direction: column;
        width:50%;
        // border: 2px solid red;
        text-align: center;

        img.profile-img{
            object-fit: cover; 
            height: 316px;
            width: 320px;
        }
        .profile-header {
            font-size: 30px;
            margin-top: 30px;
        }
    }

    &-right{
        width:50%;
        border: 2px solid pink;
    }
}


#portfolio {
    // flex-basis: 100%;
    background-color: #F5F5F5;
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    // border: 3px solid yellow;
    position: relative;

    .portfolio-wrapper-center{
        @include  flexLayout;
        width:60vw;
        height:25vw;
        display: flex;
        background: $color-sky;
        margin: 20px 0;
        // border: 3px solid red;

      .portfolio-img-left {
          width: 50%;
          height: 100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        // box-sizing: border-box;
        // align-content: center;
        padding: 0;
        // border: 2px solid green;


          .img-response {
              object-fit: cover;
              @extend %fullSpace;
            //   border: 2px solid blue;
          }
      }
      .portfolio-right {
        width: 50%;
        height: 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        position: relative;
        // overflow: hidden;


        &-heading {
            width: 100%;
            font-family: $font-josefinSans;
            position: absolte;
            text-align: center;
            padding-top: 10px;
            // border: 2px solid blue;
            color: $color-white;
            // display: flex;

            .logo{
                color: $color-white;
                font-size: 30px;
                padding-bottom: 10px;
            }
        }

        &-detail {
            width: 100%;
            padding: 10px;
            height: 40%;
            border: 1px solid $color-white;
            color: $color-white;
            // background-color: $color-white;
        }
    }
    }
}

.footer {
    padding: 70px;
    background-color: $color-sky;
    @include flexLayout;

    &-copyright-paragraph {
        color: $color-white;
    }

    span {
        color:$color-primary;
    }
}